
.quote {
    color: gray;
    min-width: 100px;
    margin: 20px;
    min-height: 50px;
    text-align: center;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
}

.quote-data {
    text-align: center;
     
    .quote-content {
        font-size: 24px;
        margin-bottom: 10px;
    }
}