<div class="quote">
    <div class="title"> 
        {{ quote.author }} 
    </div>
</div> 
<div class="quote-data" *ngIf="!listItem">
    <div class="quote-content">
        {{ quote.content }}
    </div>
    <div class="quote-added-on">
        {{ quote.dateAdded }}
    </div>
    <div class="quote-cateogires">
        <div *ngFor="let category of quote.tags">
            {{ category }}
        </div>
    </div>
</div>