<div class="quotes-list-wrapper">
    <select  (change)="getquotesByTagName($event)">
        <option [value]="tag.name" *ngFor="let tag of (quotesTags | async)">
            {{ tag.name  | titlecase }}
        </option>
        <option value="all">All</option>
    </select>
    <div class="quotes-list" [ngStyle]="{'align-items': !(quotesPage | async) ? 'center' : 'normal'}">
        <ng-template #loading>
            <div >Loading...</div>
        </ng-template>
        <div  *ngIf="quotesPage | async; else loading" class="list-wrapper" >
            <app-quote  *ngFor="let quote of (quotesPage | async)?.results | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalCount }" 
                [listItem]="true"
                [quote]="quote"
                (click)="goToDetailsPage(quote)">
            </app-quote>
        </div>
    </div>
    <pagination-controls (pageChange)="handlePageChange($event)" 
                        [maxSize]="innerWidth > 530 ? 8 : 5" 
                        [ngStyle]="{'font-size': innerWidth > 530 ? '16px' : '12px'}">
    </pagination-controls>
</div>