.quotes-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    select {
        padding: 5px;
        border-radius: 5px;
    }

    .quotes-list {
        display: flex;
        margin-bottom: 20px;
        min-height: calc(100vh - 60px - 29px - 40px - 55px);

        .list-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

    }
}
