.fake-header {
    display: flex;
    justify-content: end;
    padding: 10px;

    .fake-log-out {
        outline: none;
        background-color: #0075ed;
        color: white;
        border: none;
        padding: 10px 30px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }
}