<div class="login-component">
  <div class="login-form-wrapper">
    <div class="form-title">Login to your account</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-input">
        <label class="label" for="first-name">Email: </label>
        <input class="input" type="text" formControlName="email" />
      </div>
      <div class="form-input password-input">
        <label class="label" for="last-name">Password: </label>
        <input #passwordInput class="input" type="password" formControlName="password" />
        <div #showPassword class="show">
          <span aria-hidden="true" data-icon="&#xe9ce;" class="eye" appShowPassword [passwordInput]="passwordInput"></span>
        </div>
      </div>
      <div class="no-match-error" *ngIf="loginForm.hasError('noMatch')">Email or Password invalid</div>
      <div class="form-input submit">
        <div class="create-account">No account? <a class="create-account" href="">Create one</a></div>
        <button class="submit-btn" type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
