.login-component {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;

    .login-form-wrapper {
        max-width: 300px;
        width: 100%;
        min-height: 300px;
        padding: 35px 25px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 5px;

        .form-title {
            text-align: center;
            margin-bottom: 50px;
            font-size: 24px;
            font-weight: bold;
        }

        .form-input {
            margin-bottom: 15px;
            
            .label {
                display: block;
                font-size: 14px;
                font-weight: 500;
                color: #444444;
                margin-bottom: 5px;
            }

            .input {
                width: 84%;
                background: white;
                outline: none;
                border: 1px solid #9f9b9b;
                border-radius: 5px;
                height: 30px;
                padding: 0px 26px;
            }

            &.submit {
                margin-top: 50px;
                margin-bottom: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                

                .create-account {
                    font-size: 14px;

                    .create-account {
                        color: #0075ed;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }

                .submit-btn {
                    outline: none;
                    background-color: #0075ed;
                    color: white;
                    border: none;
                    padding: 10px 30px;
                    border-radius: 5px;
                    text-transform: uppercase;
                    font-weight: 600;
                    cursor: pointer;

                    &[disabled] {
                        background-color: gray;
                        cursor: none;
                      }
                }
            }

            &.password-input {
                position: relative;
                
                .show {
                    position: absolute;
                    right: 0;
                    top: 28px;

                    .eye {
                        font-size: 18px;
                        color: #0075ed;
                        cursor: pointer;
                    }
                }
            }
        }
        .no-match-error {
            font-size: 11px;
            color: red;
        }
    }


}